.mediaplayer-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative; }
  .mediaplayer-container .video-wrapper.playing:after {
    opacity: 0;
    transition: opacity 120ms ease-in-out;
    -webkit-transition: opacity 120ms ease-in-out; }
  .mediaplayer-container .player-controls.video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 120ms ease-in-out;
    -webkit-transition: opacity 120ms ease-in-out; }
  .mediaplayer-container.hide-controls .player-controls {
    opacity: 0 !important; }
  .mediaplayer-container.hide-controls .video-wrapper.playing:after {
    opacity: 0 !important; }
  .mediaplayer-container:hover .video-wrapper.playing:after {
    opacity: 1; }
  .mediaplayer-container:hover .player-controls {
    opacity: 1; }
  .mediaplayer-container video {
    width: 100%;
    background-size: cover;
    background-position: center center; }
  .mediaplayer-container .video-wrapper {
    line-height: 0; }
    .mediaplayer-container .video-wrapper:after {
      content: "";
      z-index: 10;
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url("../img/play-circle-regular.svg") no-repeat center center;
      background-size: 100% 100%; }
    .mediaplayer-container .video-wrapper.playing:after {
      background: url("../img/pause-circle-regular.svg") no-repeat center center; }
  .mediaplayer-container[data-fullscreen="true"] {
    z-index: 0; }
    .mediaplayer-container[data-fullscreen="true"] video {
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      max-height: 100%;
      z-index: -99; }
    .mediaplayer-container[data-fullscreen="true"] .player-controls {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  .mediaplayer-container .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: white;
    margin: 0.3rem;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-position: center center;
    mask-size: auto;
    -webkit-mask-size: auto; }
    .mediaplayer-container .icon.icon-state {
      mask-image: url("../img/play.svg");
      -webkit-mask-image: url("../img/play.svg"); }
    .mediaplayer-container .icon.icon-state.playing {
      mask-image: url("../img/pause-solid.svg");
      -webkit-mask-image: url("../img/pause-solid.svg"); }
    .mediaplayer-container .icon.icon-stop {
      mask-image: url("../img/stop-solid.svg");
      -webkit-mask-image: url("../img/stop-solid.svg"); }
    .mediaplayer-container .icon.icon-rewind {
      mask-image: url("../img/backward-solid.svg");
      -webkit-mask-image: url("../img/backward-solid.svg"); }
    .mediaplayer-container .icon.icon-fast-forward {
      mask-image: url("../img/forward-solid.svg");
      -webkit-mask-image: url("../img/forward-solid.svg"); }
    .mediaplayer-container .icon.icon-volume {
      mask-image: url("../img/volume-up-solid.svg");
      -webkit-mask-image: url("../img/volume-up-solid.svg"); }
    .mediaplayer-container .icon.icon-volume.mute {
      mask-image: url("../img/volume-mute-solid.svg");
      -webkit-mask-image: url("../img/volume-mute-solid.svg"); }
    .mediaplayer-container .icon.icon-fullscreen {
      mask-image: url("../img/expand-solid.svg");
      -webkit-mask-image: url("../img/expand-solid.svg"); }
  .mediaplayer-container .player-controls {
    background-color: black;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .mediaplayer-container .player-controls.audio {
      border-radius: 0.3rem; }
    .mediaplayer-container .player-controls, .mediaplayer-container .player-controls a {
      color: white;
      font-size: 1rem; }
    .mediaplayer-container .player-controls > div {
      display: flex;
      justify-content: center;
      align-content: center; }
    .mediaplayer-container .player-controls button {
      background-color: transparent;
      color: white;
      padding: 0;
      border: none;
      font: inherit;
      display: inherit;
      cursor: pointer; }
      .mediaplayer-container .player-controls button:hover .icon {
        background-color: white; }
    .mediaplayer-container .player-controls .progress-container {
      width: 50%;
      display: flex;
      align-items: center; }
      .mediaplayer-container .player-controls .progress-container progress[value] {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.25);
        border: none;
        border-radius: 0.3rem;
        overflow: hidden; }
        .mediaplayer-container .player-controls .progress-container progress[value]::-webkit-progress-bar, .mediaplayer-container .player-controls .progress-container progress[value]::-moz-progress-bar, .mediaplayer-container .player-controls .progress-container progress[value]::-webkit-progress-value {
          background-color: white; }
    .mediaplayer-container .player-controls .slide-container {
      width: 100%; }
      .mediaplayer-container .player-controls .slide-container input[type="range"] {
        width: 100%;
        background-color: transparent;
        position: relative; }
        .mediaplayer-container .player-controls .slide-container input[type="range"]::-moz-range-track, .mediaplayer-container .player-controls .slide-container input[type="range"]::-webkit-slider-runnable-track {
          background-color: rgba(255, 255, 255, 0.25); }
        .mediaplayer-container .player-controls .slide-container input[type="range"]::-moz-range-progress {
          background-color: white; }
        .mediaplayer-container .player-controls .slide-container input[type="range"]::-moz-range-thumb {
          border: none;
          background-color: white; }
    .mediaplayer-container .player-controls .playtime-text {
      white-space: nowrap;
      display: flex;
      align-items: center; }
      .mediaplayer-container .player-controls .playtime-text > * {
        padding: 0 0.3rem; }
    .mediaplayer-container .player-controls .volume-slider-container {
      max-width: 20%; }
      .mediaplayer-container .player-controls .volume-slider-container .volume-slider {
        background: transparent;
        width: 100%; }
        .mediaplayer-container .player-controls .volume-slider-container .volume-slider::-moz-range-thumb {
          border: none;
          background-color: white; }
        .mediaplayer-container .player-controls .volume-slider-container .volume-slider::-moz-range-track, .mediaplayer-container .player-controls .volume-slider-container .volume-slider::-webkit-slider-runnable-track {
          background-color: rgba(255, 255, 255, 0.25); }
        .mediaplayer-container .player-controls .volume-slider-container .volume-slider::-moz-range-progress {
          background-color: white; }

/*# sourceMappingURL=mediaplayer.css.map */
